<% include include.ejs %>
<% include header.ejs %>
<article class="coursContener">
    <h4>Nom du cours (cours UNIQUEMENT) : Linux: entrez dans la matrice!</h4>
    <h1 class = "partTitle">Nom du chapitre / Titre du tutoriel: Utiliser la ligne de commande (partie 1/5) </h1><br/>
    <p>Introduction du chapitre. Exemple: la dernière fois, nous avons vu comment accéder à la ligne de commande sur Linux. Mais à part nous donner l'air d'un "akeur", elle ne nous sert pas à grand chose si l'on ne sait pas s'en servir. C'est pourtant un outil extrêmement puissant, qui permet par exemple de réparer un système, de gérer des fichiers, des services, voire même installer des logiciels! Alors, suivez-moi dans la matrice, c'est parti!</p>

        <script>
            function toogleSection(element)
            {
                var h3 = element.nextElementSibling;
                var section = h3.nextElementSibling;
                console.log(section.style.transform);
                if(section.style.transform != "scaleY(0)")
                {
                    section.style.transform = "scaleY(0)";
                    section.style.height = "0";
                    h3.innerHTML = "+";
                }
                else
                {
                    section.style.transform = "scaleY(1)";
                    section.style.height = "auto";
                    h3.innerHTML = "-";
                }
            }
        </script>
        <h3 style = "float:left" onclick = "toogleSection(this)"> Titre de la section de cours: Première chose: naviguer dans les fichiers</h3>
        <h3 style = "float:right">+</h3>
        <section>
            <p>Une des premières choses que le débutant doit savoir est comment naviguer dans les fichiers. Ici, nous allons voir comment changer de répertoire courant, et comment afficher les fichiers / répertoires qui se trouvent dedans.</p>
            <h5>Titre de la sous-partie: <k>cd</k> : changer de répertoire</h5>
            <p> <k>cd</k> (Change Directory), est un commande qui permet de changer le répertoire courant, autrement dit, le répertoire dans lequel agissent les différentes commandes que vous allez écrire. Par défaut, on est dans le dossier <k>~</k>. Pour changer de répertoire de façon absolue, il faut écrire</p>
            <pre><code class="bash">cd "nom du dossier"</code></pre>
            <div class = "info">
                <img src = "<%=url%>images/icons/info.png" class = "boxIcon"/>
                <p>Information: la commande CD a été importée d'UNIX</p>
            </div>
            <div class = "error">
                <img src = "<%=url%>images/icons/error.png" class = "boxIcon"/>
                <p>Si votre dossier de destination comporte des espaces, n'oubliez pas de mettre son nom entre guillements. Vous pouvez aussi placer des antislashes <k>\</k> avant les caractères qui pourraient poser problème.</p>
            </div>
            <div class = "warning">
                <img src = "<%=url%>images/icons/warning.png" class = "boxIcon"/><p>Certains dossiers ne peuvent pas être accédés, si vous n'avez pas les droits.</p>
            </div>
            <div class = "good">
                <img src = "<%=url%>images/icons/check.png" class = "boxIcon"/><p><k>cd ..</k> pour venir dans le répertoire père.</p>
            </div>
            <p>
                En gros, il faut savoir ça:
                <ul>
                    <li>cd est une commande d'unix</li>
                    <li>Elle signifie change directory</li>
                    <li>Elle permet de changer de répertoire courant</li>
                <ul>
            </p>
        </section>
    <br/>
        <div class = "pub">
            <h1>Ceci est une pub :D argent... ARGENT... ARGENT!!!!</h1>
    </div>

        <link rel = "stylesheet" href = "<%=url%>css/dark/template_cours.css">
</article>
