<link rel="stylesheet" href="<%=url%>css/dark/wysiwyg.css">
<link rel="stylesheet" href="<%=url%>css/dark/template_cours.css">
<%include include.ejs%>

<meta name="viewport" content="width=device-width, initial-scale=.9, maximum-scale=2.0" />
<div id = "menuBar">
    <button id="bold" onclick = "textFormat('bold')">B</button>
    <button id="italic" onclick = "textFormat('italic')">I</button>
    <button id="underline"onclick = "textFormat('underline')">U</button>
    <select id="typeText">
        <option value="div">Paragraphe</option>    
        <option value="h3">Titre de section</option>    
        <option value="h5">Titre de sous-section</option>    
    </select>
    <button onclick = "toogleSmiley()" id = "smiley" style = "float:right">🤔</button>
    <button onclick = "code()" id = "code" style = "float:right" ></button>
    <button onclick = "note()" id = "note" style = "float:right" ></button>

</div>
<article id = "content" class="coursContener" contentEditable = true>
</article>
<div id = "smileyBoard">
    <%for(i=0;i<79;++i){%><button onclick = "insertSmiley(this)"><%=String.fromCharCode(55357) + String.fromCharCode(56832 + i)%></button><%}%></div>
<div id = "codeDialog" class = "window">
    <div class = "title">
        <p>Insérer du code</p>
        <button class = "windowsOptions" onclick = "hide(this)"></button>
        <button class = "windowsOptions" onclick = "validate(this)"></button>
    </div>
    <table>
        <tr>
            <td>Langage</td>
            <td><input type = "text"></input></td>
        </tr>
        <tr><td>Suggestion:</td>
            <td>[LANGAGE]</td></tr>
        <tr>
            <td>Code</td>
            <td><textarea resizable = "no"></textarea></td>
        </tr>
    </table>
</div>
<div id = "noteDialog">
    <div class = "title">
        <button class = "windowsOptions" onclick = "hide(this)"></button>
        <button class = "windowsOptions" onclick = "validate(this)"></button>
        <p style = "float:left">Définir ce paragraphe en tant que:</p>
    </div><br/>
    <div style = "clear:both" class = "info"><img class = "boxIcon"src = "<%=url%>images/icons/info.png"><p>Information</p></div>
    <div class = "good"><img class = "boxIcon" src = "<%=url%>images/icons/check.png"><p>Bonne idée / amélioration possible</p></div>
    <div class = "warning"><img class = "boxIcon" src = "<%=url%>images/icons/warning.png"><p>Avertissement</p></div>
    <div class = "error"><img class = "boxIcon" src = "<%=url%>images/icons/error.png"><p>Erreur / à ne surtout pas faire</p></div>
    <div class = "reset"><img class = "boxIcon" src = "<%=url%>images/icons/reset.png"><p>Restaurer un paragraphe normal</p></div>
</div>
<script src = "<%=url%>js/wysiwyg.js"></script>
