<link rel="stylesheet" href="<%=url%>css/dark/cours/template_cours.css">
<link rel="stylesheet" href="<%=url%>css/dark/wysiwyg.css">

<%include common/include.ejs%>

<meta name="viewport" content="width=device-width, initial-scale=.9, maximum-scale=2.0" />
<script src="<%=url%>js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<noscript>
	<h1>Activez javascript ou mourez !</h1>
</noscript>
<nav id = "menuBar">
	<nav id="leftBar">
	<button id="bold" class="default" onclick = "textFormat('bold')">B</button>
	<button id="italic" class="default" onclick = "textFormat('italic')">I</button>
	<button id="underline" class="default" onclick = "textFormat('underline')">U</button>
	
	<select id="textType">
		<option value="div">Paragraphe</option>
		<option value="tips">Tips</option>
		<option value="h3">Titre de section</option>
		<option value="h5">Titre de sous-section</option>
	</select>
	</nav>
	<nav id="rightBar">
		<button class="default" onclick = "code()" id = "code" >&nbsp;
		</button>
		<button class="default" onclick = "note()" id = "note">&nbsp;</button>
		<button class="default" onclick = "toogleSmiley()" id = "smiley">🤔</button>
	</nav>

</nav>
<article id = "content" class="coursContener" contentEditable = true>
	<div>&nbsp;</div>
</article>

<div id = "smileyBoard">
	<%for(i=0;i<79;++i){%><button onclick = "insertSmiley(this)"><%=String.fromCharCode(55357) + String.fromCharCode(56832 + i)%></button><%}%></div>
<div id = "codeDialog" class = "window">
	<div class = "title">
		<p>Insérer du code</p>
		<nav>
			<button class = "windowsOptions" onclick = "hide(this)"></button>
			<button class = "windowsOptions" onclick = "validateCode()"></button>
		</nav>
	</div>
	<div>
		<nav>
			<label For="languageChoice">Langage:</label>
			<div id="languageContener">
			<input type="text" name="languageChoice" id="languageChoice" placeholder="Selectionnez un language">
				<div name="languageProposition" id="languageProposition">
					<div contenteditable="true"></div>
					<div id="language-item-arduino" >arduino</div>
					<div id="language-item-bash" >bash</div>
					<div id="language-item-basic" >basic</div>
					<div id="language-item-batch" >batch</div>
					<div id="language-item-c" >c</div>
					<div id="language-item-coffeescript" >coffeescript</div>
					<div id="language-item-cpp" >cpp</div>
					<div id="language-item-csharp" >csharp</div>
					<div id="language-item-css" >css</div>
					<div id="language-item-d" >d</div>
					<div id="language-item-ejs" >ejs</div>
					<div id="language-item-git" >git</div>
					<div id="language-item-haml" >haml</div>
					<div id="language-item-html" >html</div>
					<div id="language-item-java" >java</div>
					<div id="language-item-javascript" >javascript</div>
					<div id="language-item-json" >json</div>
					<div id="language-item-json5" value="json5">json5</div>
					<div id="language-item-jsonp" >jsonp</div>
					<div id="language-item-kotlin" >kotlin</div>
					<div id="language-item-lisp" >lisp</div>
					<div id="language-item-lua" >lua</div>
					<div id="language-item-markdown" >markdown</div>
					<div id="language-item-markup" >markup</div>
					<div id="language-item-markup-templating" >markup-templating</div>
					<div id="language-item-monkey" >monkey</div>
					<div id="language-item-objectivec" >objectivec</div>
					<div id="language-item-perl" >perl</div>
					<div id="language-item-php" >php</div>
					<div id="language-item-plsql" >plsql</div>
					<div id="language-item-powershell" >powershell</div>
					<div id="language-item-processing" >processing</div>
					<div id="language-item-python" >python</div>
					<div id="language-item-regex" >regex</div>
					<div id="language-item-ruby" >ruby</div>
					<div id="language-item-sass" >sass</div>
					<div id="language-item-scss" >scss</div>
					<div id="language-item-shell-session" >shell-session</div>
					<div id="language-item-sql" >sql</div>
					<div id="language-item-yaml" >yaml</div>
				</div>
			</div>
		</nav>
		<div id="ace-editor">type your code here...</div>
	</div>
</div>
<div id = "noteDialog">
	<div class = "title">
		<p style = "float:left">Définir ce paragraphe en tant que:</p>
		<nav>
			<button class = "windowsOptions" onclick = "hide(this)"></button>
		</nav>
	</div><br/>
	<div class = "info tips" onclick="validateNote(this)">Information</div>
	<div class = "good tips" onclick="validateNote(this)">Bonne idée / amélioration possible</div>
	<div class = "warning tips" onclick="validateNote(this)">Avertissement</div>
	<div class = "error tips" onclick="validateNote(this)">Erreur / à ne surtout pas faire</div>
	<div class = "reset tips" onclick="validateNote(this)">Restaurer un paragraphe normal</div>
</div>
<script src = "<%=url%>js/wysiwyg.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var editor = ace.edit("ace-editor")
	editor.setTheme("ace/theme/monokai")
	editor.session.setMode("ace/mode/html")
</script>
