<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title> Informations personelles - Almati</title>
	<%- include("../include.ejs") %>

	<link rel="stylesheet" type="text/css" href="/css/userAccount.css">
</head>
<body>
	<%- include("../parts/header.ejs") %>
	<%- include("../parts/signin.ejs") %>
	<section>
		<div class="accountHeader">
			<img src="/images/users/<%=image%>">
			<h1><%=pseudo%></h1>
		</div>
	</section>
	<%- include("../parts/footer.ejs") %>
	<%- include("../scripts.ejs") %>
	<script type="text/javascript" src="/javascript/validatorScript.js"></script>
	<script type="text/javascript" src="/javascript/signup.js"></script>
</body>
</html>