<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Tutos et cours - Almati</title>
    <%- include("../parts/include.ejs")%>
</head>
<%- include("../parts/header.ejs") %>
<link rel="stylesheet" href="<%url%>../../../css/dark/forum/forum.css">
<link rel="stylesheet" href="<%url%>../../../css/dark/forum/subSection.css">

<title><%=category%> - Forum - Almati</title>
<h1><%=category%> //replace with actual category name</h1>
<p><%=categoryDescription%></p>

<p style="text-align:center"><button onclick = "createSubject()">Créer un nouveau sujet</button></p>
<h3>Sujets récemment actifs</h3>
	<div id="subjects">
		<div onclick = "preview" class = "postHeaderContainer">
			<p class = "postInfo">Sujet créé par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<p class = "lastMessage">Dernier message par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<h4>POST TITLE</h4>
		</div>
		<div class = "postHeaderContainer solved">
			<p class = "postInfo">Sujet créé par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<p class = "lastMessage">Dernier message par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<h4>SOLVED POST</h4>
		</div>
		<div class = "postHeaderContainer seen">
			<p class = "postInfo">Sujet créé par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<p class = "lastMessage">Dernier message par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<h4>SEEN POST</h4>
		</div>
		<div class = "postHeaderContainer solved seen">
			<p class = "postInfo">Sujet créé par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<p class = "lastMessage">Dernier message par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<h4>SOLVED SEEN POST</h4>
		</div>
		<div class = "postHeaderContainer closed">
			<p class = "postInfo">Sujet créé par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<p class = "lastMessage">Dernier message par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<h4>CLOSED POST</h4>
		</div>
		<div class = "postHeaderContainer closed seen">
			<p class = "postInfo">Sujet créé par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<p class = "lastMessage">Dernier message par <strong>USERNAME</strong>
				<br/>Le <strong>DD/MM/YYYY à HH:MM</strong>
			</p>
			<h4>CLOSED SEEN POST</h4>
	</div>
	<div style="float:clear"></div>
<%- include("../parts/footer.ejs") %>
