<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Forum - Almati</title>
	<%- include("../parts/include.ejs")%>
	<link rel="stylesheet" href="/css/dark/forum/menuSubjectIcon.css">
	<link rel="stylesheet" href="/css/dark/forum/forum.css">
</head>
<body>
	<%- include("../parts/header.ejs")%>
	<h1>Forum</h1>
	<p>L'espace d'échange entre membres. <br/>
	Soyez respectueux, évitez le déterrage, et évitez les trolls. Une équipe de modération pourra appliquer des sanctions et supprimera votre message s'il est innaproprié</p>
	<% var sectionAmount = 10;
       for(s=0;s<sectionAmount;++s){ %>
	<h3>CATEGORY NAME</h3>
	<div class = "subSectionContainer">
		<% var subSectionAmount = 10;
		for(i=0;i < subSectionAmount;++i){ %>
		<div id = "SECTION_ID" style = "background-color:hsl(<%=((i+s)/(subSectionAmount))*360%>,100%,50%)" class = "sectionLabel">
			<a href="forum/SECTION_PATH">
			<img class = "subjectIcon" src="/images/forumIcons/other.svg">
			<h4>SUBSECTION NAME</h4>
			</a>
			<img class = "info" src="/images/dialog/info.png" onclick = "toogleInfo(this)">
		</div>
		<div class = "sectionDescription" style="background-color:hsl(<%=((i+s)/(subSectionAmount))*360%>,100%,50%)"><p>SUBSECTION DESCRIPTION</p></div>

		<%}%>
	</div>
	<%}%>

	<script>
		function toogleInfo(element)
		{
			element.src = "/images/dialog/close_white.png"
			element.parentElement.style.transitionDuration = ".2s";
			element.parentElement.classList.add("descriptionHeader");
			element.parentElement.nextElementSibling.style.transform = "scale(1)";
			element.parentElement.nextElementSibling.style.zIndex = "99";
			element.parentElement.style.transitionDuration = "1s";

			
		}
	</script>
	<!-- some icons are from onlinewebfonts: http://www.onlinewebfonts.com -->
	<!-- wikimedia commons also -->
	<!-- svgrepo -->
	<%- include("../parts/footer.ejs")%>
</body>
</html>
