<!-- Le header en lui-même -->
<%include include.ejs%>
<div id = "signUp">
<div id = "login">
<header>
	<a href="<%=url%>" id="title">
		<h1>&nbsp;Almati&nbsp;</h1>
	</a>

	<div class = "options">
		<a href="#login" class="responsive" id="connectA"><h2> Se connecter </h2></a>
		<a href = "<%=url%>cours" class="responsive" id="tutoA"><h2> Tutos & Cours </h2></a>
		<a href = "<%=url%>communaute/forum" class="responsive" id="forumA"><h2> Forum </h2></a>
	</div>
	<input type="checkbox" name="showMenu" id="showMenu">
	<label class="linkMenuButton" for="showMenu">
		<img src ="<%=url%>images/dialog/menu.png" class ="menuButton">
	</label>
	<div id = "menuContainer">
		<div id = "menu">
			<a href="#login">
			<h2 style = "background-color:#90D"> Se connecter </h2></a>
			<a href = "<%=url%>cours"><h2 style = "background-color:blue"> Tutos & Cours </h2></a>
			<a href = "<%=url%>forum"><h2 style = "background-color:#0CF"> Forum </h2></a>
		</div>
	</div>
</header>

