<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title> Cours - Almati</title>
	<%- include("../parts/include.ejs") %>

	<link rel="stylesheet" type="text/css" href="/css/userAccount.css">
</head>
<body>
	<%- include("../parts/header.ejs") %>
	<%- include("../parts/signin.ejs") %>
	<section>
		
	</section>
	<%- include("../parts/footer.ejs") %>
	<%- include("../parts/scripts.ejs") %>
</body>
</html>