<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title> Crer un compte - Almati</title>
	<%- include("../include.ejs") %>

	<link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>
<body>
	<%- include("../parts/header.ejs") %>
	<%- include("../parts/signin.ejs") %>
	<section>
		<form action="#" method="POST" class="form" id="signUpForm">
			<h2 class="form__title">Créer un compte</h2>
			<p class="form__error"></p>
			<input type="hidden" name="_csrf" value="<%=_csrf%>" class="form__input">
			<div class="inputGroup">
				<label for="pseudo" class="inputGroup__label">Nom d'utilisateur:</label>
				<input type="text" class="inputGroup__input" id="pseudo" name="pseudo">
				<div class="inputGroup__validator" for="pseudo">
					<p 	class="hideShow inputGroup__validator__criterion"
						id="pseudoSize"
						type="size" 
						min="3" 
						max="15">
							Le pseudo doit faire entre 3 et 15 caractères
					</p>
					<p 	class="hideShow inputGroup__validator__criterion"
						id="pseudoForbidden"
						type="validator"
						validator="forbidden">
							Le pseudo ne doit pas contenir de caractères interdits
					</p>
					<p 	class="requestValidator inputGroup__validator__criterion"
						id="pseudoAvailable"
						type="request"
						url="/user/userExist"
						error="err"
						valide="result"
						inverted>
							Le pseudo est disponible
					</p>
				</div>
			</div>
			<div class="inputGroup">
				<label for="mail" class="inputGroup__label">Mail:</label>
				<input type="text" class="inputGroup__input" id="mail" name="mail">
				<div class="inputGroup__validator" for="mail">
					<p 	class="hideShow inputGroup__validator__criterion"
						id="mailValid"
						type="validator"
						validator="mail">
							Le mail doit être un mail valide
					</p>
					<p 	class="requestValidator inputGroup__validator__criterion" 
						id="mailAvailable" 
						type="request"
						url="/user/userExist"
						error="err"
						valide="result"
						inverted>
							Le mail est disponible
					</p>
				</div>
			</div>
			<div class="inputGroup">
				<label for="password" class="inputGroup__label">Mot de passe</label>
				<input type="text" class="inputGroup__input" id="password" name="password">
				<div class="inputGroup__validator" for="password">
					<p 	class="hideShow inputGroup__validator__criterion" 
						id="passwordLowerCase" 
						type="validator"
						validator="lower">
							Le mot de passe doit contenir une lettre minuscule
					</p>
					<p 	class="hideShow inputGroup__validator__criterion" 
						id="passwordUpperCase" 
						type="validator"
						validator="upper">
							Le mot de passe doit contenir une lettre majuscule
					</p>
					<p 	class="hideShow inputGroup__validator__criterion" 
						id="passwordUpperCase" 
						type="validator"
						validator="number">
							Le mot de passe doit contenir un nombre
					</p>
					<p 	class="hideShow inputGroup__validator__criterion"
						id="passwordSpetial"
						type="validator"
						validator="spetial">
							Le mot de passe doit contenir un caractère spécial
					</p>
					<p 	class="hideShow inputGroup__validator__criterion"
						id="passwordSize" 
						type="sizemi"
						min="8">
							Le mot de passe doit faire plus de 8 caractères
					</p>
					<p type="update" update="passwordRepeat"></p>
				</div>
			</div>
			<div class="inputGroup">
				<label for="" class="inputGroup__label">Répétition du mot de passe:</label>
				<input type="text" class="inputGroup__input" id="passwordRepeat" name="passwordRepeat">
				<div class="inputGroup__validator" for="passwordRepeat">
					<p 	class="hideShow inputGroup__validator__criterion" 
						id="passwordRepeatOk" 
						type="match" 
						with="password">
							Les mots de passes ne correspondent pas
					</p>
				</div>
			</div>
			<input type="submit" value="Créer !" class="form__input">
			<img class="form__waitImg" src="/images/wait.svg">
		</form>
	</section>

	<%- include("../parts/footer.ejs") %>
	<%- include("../scripts.ejs") %>
	<script type="text/javascript" src="/javascript/validatorScript.js"></script>
	<script type="text/javascript" src="/javascript/signup.js"></script>
</body>
</html>